<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="<%= GDPSID %>/css/index.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="https://cdn.forever-gdps.host/engines/transitions.css" />
	<script src="https://unpkg.com/swup@4"></script>
	<script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="<%= GDPSID %>/js/render.js"></script>
	<title>Роли | <%= GDPS %></title>
	
</head>
<body>
    <main id="swup">
    <style>
		body {
			text-align: center;
			display: block;
		}
	</style>
	<h1>Роли</h1>
	</main>
</body>
<script>
    var swup = new Swup ({
    containers: ["#swup", "forcehead"], 
    linkSelector: 'a[soft]', 
    cache: false, 
    plugins: [
        new SwupScriptsPlugin()
    ]
});
</script>
</html>