<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>404 | Страница не найдена</title>
	<style>
		body {
			text-align: center;
			display: block;
		}
	</style>
</head>
<body>
	<h1>Страница не найдена!</h1>
	Данной страницы не существует, проверьте, правильно ли вы ввели URL. 
	<br>
	<% if (typeof url !== "undefined") { %>
	Введённый URL: <b><%= url %></b>
	<% } %>
</body>
</html>